.header{
    color: white;
    font-family: 'Rowdies', cursive;
}

.navbar{
    font-family: 'Dancing Script', cursive;
    font-family: 'Rowdies', cursive;
}

.card{
    color:orangered;
    font-family: 'Cutive Mono', monospace;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
}

.background-image {
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('https://cdn.pixabay.com/photo/2015/06/08/15/02/breakfast-801827__340.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}